- # https://turfjs.org/
= javascript_include_tag "https://cdn.jsdelivr.net/npm/@turf/turf@7.0.0/turf.min.js"
= javascript_include_tag "https://cdn.jsdelivr.net/npm/@mapbox/togeojson"
= javascript_include_tag "osmtogeojson.js"

- if @map_mode == 'rw'
  - # https://github.com/Ionaru/easy-markdown-editor
  = javascript_include_tag "https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js", async: true
  = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"
  
- content_for :title, "Mapforge map: #{(@map.name.presence || 'Unnamed map')}"
- content_for :head do
  - # Open Graph protocol https://ogp.me/
  - if @map.name
    %meta{ property: 'og:title', content: @map.name }
  - if @map.description
    %meta{ property: 'og:description', content: @map.description }
  - if @map.screenshot
    %meta{ property: 'og:image', content: "#{request.protocol}#{request.host_with_port}#{@map.screenshot}" }


#preloader
  %img.mapforge-logo{ src: "/icons/mapforge-logo-header_white.png", alt: "Logo" }

- unless params['static'] == 'true'
  -# map header and title
  %nav#map-head.dark-shadow{ title: "Toggle Navigation", data: { 'controller': "header", 'action': "click->header#toggleNav", 'toggle': "tooltip", 'bs-placement': "bottom", 'bs-custom-class': 'maplibregl-ctrl-tooltip' } }
    - unless params['nomenu'] == 'true'
      #map-nav-toggle.navbar-toggler-icon.ms-2.me-2
    %h1#map-title= @map.name

#maplibre-map.map{ data: { 'controller': "map header", 'action': "click->header#hideNav touchstart->header#hideNav" } }

- unless @map_mode == 'static'
  = render 'layer_loading'
  = render 'status'
  = render 'maps/modals/settings'
  = render 'maps/modals/layers'
  = render 'maps/modals/share'
  = render 'maps/modals/feature'

#dropdown-space
