- content_for :title, "Mapforge: Documentation & Tutorials"

#docs.selectable

  = link_to doc_path(id: 'CHANGELOG'), class: "tutorial-preview" do 
    %h4
      Change Log 
    %i Read about the latest changes and improvements on Mapforge.

  %h1.mt-4.mb-3.mapforge-font{ 'data-aos': "fade-right" } Tutorials

  = link_to doc_path(id: 'overpass_layers'), class: "tutorial-preview" do 
    %h4
      OpenStreetMap data layers (Overpass) 
    %i How to add a custom data layer with OpenStreetMap data.
      
  = link_to doc_path(id: 'app'), class: "tutorial-preview mt-3" do 
    %h4
      Install the Mapforge App 
    %i The app can get installed from the browser or from the app store.

  = link_to doc_path(id: 'geojson_style_spec'), class: "tutorial-preview mt-3" do 
    %h4
      Advanced feature styling 
    %i Learn how to style your map features with extended GeoJSON properties. 

  = link_to doc_path(id: 'keyboard_shortcuts'), class: "tutorial-preview mt-3" do 
    %h4
      Keyboard Shortcuts 
    %i How to use keyboard shortcuts for common actions.