%main#frontpage.main.selectable{ data: { 'controller': "frontpage header", 'action': "click->header#hideNavDropdown" } }
  / Hero Section
  #hero.hero.section.dark-background
    .hero-bg-image{ 'data-aos': "zoom-out", 'data-aos-once': "true" }

    / News Banner – update the text below to advertise new features or site news.
    / Remove or comment out this block when there is nothing to announce.
    .banner-explorer{ role: "note", 'aria-label': _("News") }
      .banner-explorer-inner
        .banner-explorer-content
          %h6= _("Bicycle Touring!")
          .divider
          %p
            = _("Check out how to use Mapforge to")
            =link_to _('plan your next tour'), '/doc/bike_touring'

    .container
      .row
        .col-lg-6.welcome-text
          %h1.mapforge-font{ 'data-aos': "fade-up" }= _("Create your own map")
          %div{ 'data-aos': "fade-up" }
            %blockquote{ 'data-aos': "fade-up" }
              %p
                = _("A free, open-source map editor built on OpenStreetMap. Create individual maps for your places, tracks and events - customize, collaborate and share in real-time.")
                - if @user
                  - maps_link = link_to(_('your maps'), my_path, class: 'btn btn-orange call-to-action')
                  - tutorial_link = link_to(_('tutorial map'), tutorial_path, class: 'btn btn-orange call-to-action', data: { turbo_method: :post })
                  - create_link = link_to(_('create'), create_map_path, class: 'btn btn-orange call-to-action', data: { turbo_method: :post })
                  %p= raw(_("Browse %{maps_link}, learn more on the %{tutorial_link} or %{create_link} a new map.") % { maps_link: maps_link, tutorial_link: tutorial_link, create_link: create_link })
                - else
                  - gallery_link = link_to(_('gallery'), maps_path, class: 'btn btn-orange call-to-action')
                  - tutorial_link = link_to(_('tutorial map'), tutorial_path, class: 'btn btn-orange call-to-action', data: { turbo_method: :post })
                  - login_link = link_to(_('log in'), login_path, class: 'btn btn-orange call-to-action')
                  %p= raw(_("Browse the %{gallery_link}, learn how to use it on the %{tutorial_link} or %{login_link} to create your own maps.") % { gallery_link: gallery_link, tutorial_link: tutorial_link, login_link: login_link })
                %p
                  %span.d-none.d-sm-inline
                    = _("Mapforge is ad-free and respects your privacy.")
                    = _("Also available for self-hosting, giving you full control over your data.")
                  %span.d-sm-none
                    - app_link = link_to(_('app'), doc_path(id: 'app'), class: 'btn btn-orange call-to-action')
                    = raw(_("Also available as %{app_link}.") % { app_link: app_link })
            %p.fs-4.mapforge-font
              %i= _("Happy mapping!")

  %section#features.why-us.section
    .row.g-0
      .col-lg-5.img-bg.d-none.d-sm-block
        %img{ src: "/images/frontpage/feature0.png",
              id: 'swiper-image', alt: _("Background"), loading: 'lazy' }
      .col-lg-5.img-bg.d-sm-none
        %img{ src: "/images/frontpage/feature0_small.png",
              id: 'swiper-image-mobile', alt: _("Background"), loading: 'lazy' }
      .col-lg-7.background-dark.slides.position-relative
        .swiper.init-swiper
          .swiper-wrapper
            .swiper-slide
              .item
                %h2.mb-3.mapforge-font= _("Map tools")
                %h4.mb-3= _("Customize your map")
                %ul
                  %li
                    = _("Choose your base map: Streets, Satellite, Topographic, Biking")
                    %span.d-none.d-sm-inline><
                      = _(", 3D houses etc.")
                  %li
                    = _("Add your own data:")
                    = _("Import")
                    %span.d-none.d-sm-inline
                      = _("your data")
                    = _("from GeoJSON, GPX and KML")
                  %li
                    = _("Draw shapes and style them:")
                    = _("Add pictures, customize colors, symbols, labels")
                    %span.d-none.d-sm-inline><
                      = _(", (3D) polygons and more")
                  %li
                    = _("Dynamic layers: Use")
                    =link_to 'Overpass', doc_path(id: 'overpass_layers')
                    = _("to add custom layers from OpenStreetMap data")
                  %li
                    = _("3D Terrain: View your map with")
                    %span.d-none.d-sm-inline
                      = _("realistic")
                    = _("elevation")
            .swiper-slide
              .item
                %h2.mb-3.mapforge-font= _("Collaboration")
                %h4.mb-3= _("Work with others and stream map changes to all connected clients")
                %ul
                  %li= _("Live updates: Map changes are synchronized via websockets")
                  %li= _("Login: Have your maps assigned to your account")
                  %li= _("Access control: Keep maps private or share with view-only or edit permissions")
            .swiper-slide
              .item
                %h2.mb-3.mapforge-font= _("Cross platform")
                %h4.mb-3= _("Use Mapforge with different clients + apps")
                %ul
                  %li= _("Responsive Design: Works well both on desktop and mobile")
                  %li
                    = _("Run from your home screen as")
                    = link_to _('app on your phone'), doc_path(id: 'app')
                  %li
                    = _("Map your track: Use")
                    = link_to "µlogger", "https://github.com/mapforge-org/mapforge/blob/main/engines/ulogger/README.md"
                    = _("to visualize and share your tracks live")
            .swiper-slide
              .item
                %h2.mb-3.mapforge-font= _("Open Source")
                %h4.mb-3= _("Standing on the shoulders of giants")
                %ul
                  %li
                    = _("Used open source projects:")
                    = link_to "Ruby on Rails", "https://rubyonrails.org/"
                    = _("for the backend,")
                    = link_to "MapLibre GL JS", "https://github.com/maplibre/maplibre-gl-js"
                    = _("and")
                    = link_to "OpenStreetMap", "https://www.openstreetmap.org"
                    = _("for the frontend,")
                    = link_to("mapbox-gl-draw", "https://github.com/mapbox/mapbox-gl-draw") + ','
                    = link_to("Turf.js", "https://turfjs.org/") + ','
                    = link_to "Openrouteservice", "https://openrouteservice.org/"
                    = _("as helping libraries.")
                  %li
                    = _("Storing only minimal data about you, no sharing of data with ad- or analytics companies.")
                  %li
                    = _("Self-Hosted Solution:")
                    = _("You can use Mapforge either on")
                    = link_to("mapforge.org", "https://mapforge.org") + ','
                    = _("or")
                    = link_to _('deploy it'), "https://github.com/mapforge-org/mapforge/blob/main/README.md"
                    = _("in your own infrastructure")
          .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
