%head
  - title = content_for?(:title) ? yield(:title) + " | Create and share your own maps online" : "Mapforge: Create and share your own maps online"
  %title= title
  %meta{ charset: "UTF-8"}
  %meta{ name: 'viewport', content: 'width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=no' }
  %meta{ name: 'view-transition', content: 'same-origin' }

  %meta{ name: 'turbo-prefetch', content: 'false' }
  = turbo_refresh_method_tag :morph
  = turbo_refresh_scroll_tag :preserve

  %meta{ name: 'mobile-web-app-capable', content: 'yes' }
  %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
  %meta{ name: 'apple-mobile-web-app-title', content: "#{title}" }

  %meta{ name: 'description', content: (content_for?(:title) ? yield(:title) : '') + " - Create individual maps for your places, tracks and events. Share your maps in real-time." }
  %meta{ name: 'keywords', content: 'map maker, create map, my maps, share maps, online maps, travel maps, map editor, geojson, maplibre, openstreetmap, privacy, open source, free to use' }

  - # Open Graph protocol https://ogp.me/
  %meta{ property: 'og:type', content: 'website' }
  %meta{ property: 'og:url', content: request.url }
  %meta{ property: 'og:site_name', content: 'Mapforge' }

  = csrf_meta_tags
  = csp_meta_tag

  / fonts
  - # https://icons.getbootstrap.com/
  = stylesheet_link_tag "bootstrap-icons", "data-turbo-track": "reload"
  / Logo font
  %link{ href: "https://fonts.googleapis.com", rel: "preconnect" }
  %link{ href: "https://fonts.gstatic.com", rel: "preconnect", crossorigin: true }

  :ruby
    google_fonts_url = "https://fonts.googleapis.com/css2?" \
      "family=Lobster+Two:ital,wght@0,400;1,400;1,700&" \
      "family=Noto+Color+Emoji&" \
      "family=SUSE:ital,wght@0,100..900;1,100..900&" \
      "family=DM+Serif+Display:ital@0;1&" \
      "family=Bree+Serif&" \
      "family=Sora:wght@100..800&" \
      "family=Playfair+Display:ital,wght@0,400..900;1,400..900&" \
      "family=Comfortaa:wght@300..700&" \
      "family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&" \
      "family=Cinzel:wght@400..900&" \
      "display=swap"
  = #stylesheet_link_tag google_fonts_url

  / css
  = stylesheet_link_tag "bootstrap.min.css" # bootstrap@5.3.3
  - # maptiler-sdk.css includes maplibre-gl css and looks better
  - # needs to get loaded before application.css
  /- # from https://unpkg.com/maplibre-gl@5.20.0/dist/maplibre-gl.css
  = stylesheet_link_tag "maptiler-sdk", "data-turbo-track": "reload"
  /= stylesheet_link_tag "maplibre-gl", "data-turbo-track": "reload"

  = stylesheet_link_tag "application", "data-turbo-track": "reload"

  - # JS imports
  = javascript_importmap_tags

  / Bootstrap
  = javascript_include_tag "bootstrap.bundle.min.js", async: true # bootstrap@5.3.3
  / Stats
  - if ENV['UMAMI_SCRIPT'].present? && ENV['UMAMI_SITE'].present?
    = javascript_include_tag ENV['UMAMI_SCRIPT'], data: { website_id: ENV['UMAMI_SITE'], exclude_hash: true, exclude_search: true, do_not_track: true }, defer: true, crossorigin: "anonymous"

  / dynamic head content
  = yield(:head)

  %link{ rel: "manifest", href: "/manifest.json" }
  %link{ rel: "icon", sizes: "50x50", href: "/icons/mapforge-logo-icon.png", type: "image/png" }
  %link{ rel: "apple-touch-icon", sizes: "512x512", href: "/icons/mapforge-logo-pwa.png" }
  %link{ rel: "apple-touch-icon", sizes: "180x180", href: "/icons/mapforge-logo-pwa-180.png" }


  - if content_for?(:alternate_md_url)
    %link{ rel: "alternate", type: "text/markdown", title: "Markdown", href: yield(:alternate_md_url) }

  - # js config for map
  = Gon::Base.render_data(nonce: content_security_policy_nonce).gsub(';gon.', ";\ngon.").html_safe
